<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bodega Galán</title>
    <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="header__superior">
        <div class="logo">
            <img src="img/logo_bodega_galan.png"    alt="">
        </div>
        <div class="search">
            <input type="search" placeholder="¿Qué deseas buscar?">
        </div>
    </div>

    <div class="containner__menu">

        <div class="menu">
            <nav>
                <ul>
                    <li><a href="#" id="selected"></a></li>
                    <li><a href="#">Ventas</a>
                        <ul>
                            <li><a href="#">Registrar Venta</a></li>
                            <li><a href="#">Registro de Ventas</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Atención al Usuario</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Proveedores</a></li>
                    <li><a href="#">Registrar Usuario</a></li>
                    <li><a href="#">Cerrar Sesion</a></li>
                </ul>
            </nav>
        </div>

    </div>
</header>

</body>
</html>