<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Registrar Proveedor</title>
</head>
<body>
<script th:src="@{/scripts/web/backoffice/product/frmMantProveedor.js}"
        type="text/javascript"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header text-bg-dark mb-3">
        Mantenimiento de Proveedores
    </div>
    <div class="card-body">
        <button id="btnagregar"
                type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
        <hr />
        <div id="mensaje"></div>
        <table id="tblproveedor" class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Actualizar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prov : ${listaproveedores}">
                <td th:text="${prov.cod_proveedor}"></td>
                <td th:text="${prov.nombre}"></td>
                <td th:text="${prov.direccion}"></td>
                <td th:text="${prov.telefono}"></td>
                <td>
                    <button type="button" class="btn btn-info btnactualizar"
                            th:data-provcod="${prov.cod_proveedor}"
                            th:data-provname="${prov.nombre}"
                            th:data-provdir="${prov.direccion}"
                            th:data-provtelefono="${prov.telefono}"><i class="fas fa-edit"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Registrar / Actualizar Proveedor -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Proveedor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txtnomproveedor" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="txtnomproveedor" th:value="${proveedorRequest.nombre}">
                </div>
                <div class="mb-3">
                    <label for="txtdirproveedor" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="txtdirproveedor" th:value="${proveedorRequest.direccion}">
                </div>
                <div class="mb-3">
                    <label for="txttelproveedor" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="txttelproveedor" th:value="${proveedorRequest.telefono}">
                </div>
                <input type="hidden" id="hddcodprov" th:value="${proveedorRequest.cod_proveedor}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" id="btnguardar" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
