<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comprobante de Pago</title>
</head>
<body>
    <div>
        <h2>Comprobante de Pago</h2>
        <div>
            <label>Fecha:</label>
            <span th:text="${fecha}"></span>
        </div>
        <div>
            <label>Cliente:</label>
            <span th:text="${nombre}"></span>
        </div>
        <div>
            <label>DNI:</label>
            <span th:text="${dniC}"></span>
        </div>
        <div>
            <label>Código de Cliente:</label>
            <span th:text="${codEmpleado}"></span>
        </div>
        <div>
            <label>Subtotal:</label>
            <span th:text="${subtotalTotal}"></span>
        </div>
        <div>
            <label>IGV:</label>
            <span th:text="${igv}"></span>
        </div>
        <div>
            <label>Total:</label>
            <span th:text="${total}"></span>
        </div>
    </div>
</body>
</html>
