<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Registrar Venta</title>
</head>
<body>
<script th:src="@{/scripts/web/backoffice/frmMantVenta.js}"
        type="text/javascript"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header text-bg-dark mb-3">
        Registro de Ventas
    </div>
    <div class="card-body">
        <button id="btnagregar"
                type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
        <hr />
        <div id="mensaje"></div>
        <table id="tblventa" class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripción</th>
                <th scope="col">Actualizar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="venta : ${listaventas}">
                <td th:text="${venta.codigoVenta}"></td>
                <td th:text="${venta.fecha}"></td>
                <td th:text="${venta.descripcion}"></td>
                <td>
                    <button type="button" class="btn btn-info btnactualizar"
                            th:data-ventacod="${venta.codigoVenta}"
                            th:data-ventafecha="${venta.fecha}"
                            th:data-ventadescripcion="${venta.descripcion}"><i class="fas fa-edit"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Venta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txtfecha" class="form-label">Fecha</label>
                    <input type="text" class="form-control" id="txtfecha" th:value="${ventaRequest.fecha}">
                </div>
                <div class="mb-3">
                    <label for="txtdescripcion" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="txtdescripcion" th:value="${ventaRequest.descripcion}">
                </div>
                <input type="hidden" id="hddcodventa" th:value="${ventaRequest.codigoVenta}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" id="btnguardar" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>