<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/nosotrosstyle.css}"
          rel="stylesheet"/>
    <title>Bodega Galán</title>
</head>
<body>
    <header>
        <h1>Bodega Galán</h1>
        <p>Tu solución integral para almacenamiento y distribución</p>
    </header>

    <section class="container">
        <h2>Nosotros</h2>
        <p>Bodega Galán es una empresa líder en el sector de almacenamiento y distribución, comprometida con la excelencia y la satisfacción del cliente. Nuestra misión es proporcionar soluciones integrales que optimicen la cadena de suministro y superen las expectativas de nuestros clientes.</p>
    
        <p>Con más de dos décadas de experiencia, hemos construido una reputación sólida basada en la confiabilidad y la eficiencia. Nos enorgullece ofrecer servicios logísticos de vanguardia, abarcando desde el almacenamiento seguro hasta la entrega puntual de productos en todo el país.</p>
    
        <p>Nuestro equipo está compuesto por profesionales apasionados que trabajan de la mano con nuestros clientes y socios comerciales para entender sus necesidades específicas. Colaboramos estrechamente con proveedores confiables y utilizamos tecnologías innovadoras para garantizar la gestión eficiente del inventario y una logística sin contratiempos.</p>
    
        <p>En Bodega Galán, nos esforzamos por mantener altos estándares de calidad en todos los aspectos de nuestro negocio. Desde la selección de productos hasta la entrega final, cada paso se realiza con precisión y atención al detalle. Esto nos ha permitido establecer relaciones duraderas con clientes satisfechos y socios estratégicos.</p>
    
        <p>La visión de Bodega Galán es continuar siendo un referente en la industria, anticipando y adaptándonos a las tendencias del mercado. Buscamos constantemente mejorar nuestros procesos y servicios para ofrecer soluciones logísticas eficientes y personalizadas.</p>
    
        <p>Gracias por elegir Bodega Galán como su socio logístico. Estamos comprometidos con su éxito y esperamos seguir siendo su elección preferida en almacenamiento y distribución.</p>

        <a th:href="@{/backoffice/proveedor/principal}" class="btn btn-primary">Volver al Menú Principal</a>
    </section>


    <footer>
        <p>&copy; 2023 Bodega Galán. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
